h1 {
  color: #00ffff;
  text-align: center;
  font-size: 100px;
}
h2 {
  text-align: center;
}
ul {
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 30px;
}
img {
  padding-left: 250px;
}
h4 {
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
}
ol {
  text-align: center;
}
h5 {
  text-align: center;
  font-size: 30px;
}
