h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
ul {
  text-align: center;
  list-style: none;
}
h3 {
  text-align: center;
  font-size: 30px;
}
img {
 margin: 25%
 width: 500px;
 height: 500px;
}
h4 {
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
}
ol {
  text-align: center;
  list-style: none;
}
h5 {
  text-align: center;
  font-size: 30px;
}
.yes {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}
.darktheme {
  background-color: black;
  color: #F6F69A;
}
.lighttheme {
  background-color: white;
  color: black;
}

button {
  margin-top: 5px;
}
